
body {
  background-color: #f2f2f2;
  margin : 0px;
  font-family: sans-serif;
}

/*-------------Navbar------------------*/

nav {
  background-color: #000;
  width: 100%;
  height: 50px;
  position: relative;
}

nav ul {
  margin: 0;
}

nav ul li {
  float: left;
  padding: 0;
  list-style-type: none;
}

nav ul a {
  transition: background-color .3s;
  font-size: 1rem;
  display: block;
  padding: 16px 30px 16px 30px;
  text-decoration: none;
}

nav ul a : hover {
  color: #000;
}

.navbar-user {
  padding: 15px;
  color: #fff;
}

.navbar-konten-aktiv {
  color: #fff;
  background-color: #46c5ec;
}

.navbar-konten-aktiv:hover {
  color: #000;
  background-color: #f1f1f1;
}

.navbar-konten {
  color: #fff;
  background-color: #000;
}

.navbar-konten:hover {
  color: #000;
  background-color: #f1f1f1;
}

.navbar-back {
  padding-left: 10px;
  padding-right: 10px;
}

.konten {
  justify-content: stretch;
  padding-left: 450px;
  padding-right: 450px;
}
/*-------------Navbar------------------*/
/*-------------form & button--------------------*/
.konten-form {
  text-align: center;
  padding-bottom: 10px;
}

.ukuran-form {
  width: 250px;
}

.teks-form {
  font-weight: bold;
}

.form-apik {
  border: 1px solid #d4d4d4;
  width: 210px;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.button-apik {
  transition: background-color .3s;
  font-size: 15px;
  color: #fff;
  background-color: #46c5ec;
  border: 0px;
  width: 300px;
  height: 40px;
}

.button-apik:hover {
  background-color: #35add2;
  cursor:pointer;
}
/*-------------form & button--------------------*/
/*-------------grid------------------*/
.grid-container {
  width : 100%;
  display: flex;
}

.row:before, 
.row:after {
  content:"";
  clear:both;
  display: table-row ;

}

[class*='col-'] {
  float: left;
  min-height: 1px; 
  flex: 1;
}

.col-3{
  width: 50%; 
  height: 100%;
}
.col-31{
  width: 50%; 
  padding-bottom: 10px;
}
/*-------------grid------------------*/

.padd-50{
 padding: 50px; 
}

.logo-ead{
  width: 50%;
}

.biru{
  color: #fff;
  background-color: #46c5ec;
}

.abu{
 background: linear-gradient(to right, #aebdd7, #ccd9e2);
}

.gambar{
  margin-left:auto;
  margin-right:auto;
  display:block;
  margin-top: 12%;
}

/*-------------------vidio--------------------------*/
.vidio-konten {
  margin-top: 2%;
  text-align: center;
}
/*-------------------/vidio--------------------------*/
/*-------------------tabel--------------------------*/
.tabel-tengah {
  text-align: center;
}

th, td {
  padding: 20px;
}
/*-------------------/tabel--------------------------*/