
body {
  background-color: #fff;
  margin : 0px;
  font-family: 'Open Sans', sans-serif;
}

.font-judul {
  color: #616161;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.font-list {
  color: #616161;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

ul {
  padding-inline-start: 0px;
  list-style-type: none; 
  
}

b {
  color: #616161;
}
/*-------------Navbar------------------*/


.konten {
  justify-content: stretch;
  padding-left: 450px;
  padding-right: 450px;
  padding-top: 30px;
}

.konten-menu {
  justify-content: stretch;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 30px;
}

/*-------------Navbar------------------*/
/*-------------form & button--------------------*/
.konten-form {
  text-align: center;
  padding-bottom: 10px;
}

.ukuran-form {
  width: 250px;
}

.teks-form {
  
}

.form-apik {
  border: 1px solid #d4d4d4;
  width: 210px;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.button-satu {
  transition: background-color .3s;
  font-size: 15px;
  color: #fff;
  background-color: #46c5ec;
  border: 0px;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}

.button-satu:hover {
  background-color: #35add2;
  cursor:pointer;
}

.button-dua {
  transition: background-color .3s;
  font-size: 15px;
  color: #46c5ec;
  background-color: transparent;
  border:1px solid #46c5ec;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}

.button-dua:hover {
  background-color: #46c5ec;
  color: #fff;
  cursor:pointer;
}

.button-tanggal {
  transition: background-color .3s;
  font-size: 15px;
  color: #fff;
  background-color: #868686;
  border: 0px;
  border-radius: 5px;
  width: 150px;
  height: 40px;
}

.button-tanggal:hover {
  background-color: #424242;
  color: #fff;
  cursor:pointer;
}

.button-kembali {
  transition: background-color .3s;
  font-size: 15px;
  color: #fff;
  background-color: #46c5ec;
  border: 0px;
  border-radius: 5px;
  width: 150px;
  height: 40px;
}

.button-kembali:hover {
  background-color: #35add2;
  color: #fff;
  cursor:pointer;
}

.button-cetak {
  transition: background-color .3s;
  font-size: 15px;
  color: #fff;
  background-color: #868686;
  border: 0px;
  border-radius: 5px;
  width: 100%;
  height: 40px;
}

.button-cetak:hover {
  background-color: #424242;
  color: #fff;
  cursor:pointer;
}

/*-------------form & button--------------------*/
/*-------------grid------------------*/
.grid-container {
  width : 100%;
}

.row:before, 
.row:after {
  content:"";
  clear:both;
  display: table-row ;

}

[class*='col-'] {
  float: left;
  min-height: 1px; 
  flex: 1;
}

.col-3{
  width: 50%; 
  height: 100%;
}

/*-------------grid------------------*/



/*-------------------tabel--------------------------*/
.tabel-tengah {
  text-align: center;
}



table { 
  border-collapse: collapse; 
}

#haha th, #haha td {
  padding: 10px;
  padding-left: 50px;
}

#normal th, #normal td {
  padding: 20px;
}


tr {
  border-bottom: 1px solid #e0e0e0;
}

/*-------------------/tabel--------------------------*/
